<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jonlatane.beatpad">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

  <uses-feature
    android:name="android.software.midi"
    android:required="false"/>
  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher_adaptive_2"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_adaptive_2_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <!--activity
        android:name=".MainActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
    </activity-->
    <activity
      android:name=".SplashActivity"
      android:label="BeatScratch"
      android:launchMode="singleTask"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".PaletteEditorActivity"
      android:label="BeatScratch"
      android:launchMode="singleTask">
    </activity>
    <activity
      android:name=".LibraryActivity"
      android:configChanges="orientation|keyboardHidden"
      android:label="BeatScratch Library"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <!--category android:name="android.intent.category.LAUNCHER"/-->
      </intent-filter>
    </activity>
    <activity
      android:name=".ConductorActivity"
      android:configChanges="orientation|keyboardHidden"
      android:label="BeatScratch: Conduct"
      android:screenOrientation="portrait"/>
    <activity
      android:name=".InstrumentActivity"
      android:configChanges="orientation|keyboardHidden"
      android:label="BeatScratch: Play"
      android:screenOrientation="landscape"/>
    <!--activity
      android:name=".SequenceEditorActivity"
      android:label="Sequence Editor">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
    </activity-->
    <service android:name=".output.service.PlaybackService">
    </service>
  </application>

</manifest>